<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DevsPush Development Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong class="capitalize ion-padding">Speed up your projects with DevsPush themes, templates and tutorials</strong>
    <p class="ion-padding">
      Ionic, Android, React & Flutter starter themes with Sketch, Photoshop, Adobe Xd & Figma resource files
    </p>
  </div>
</ion-content>
