.vacancyProfileListGrid {
  
    ion-label {
      color: var(--charcoal);
      font-weight: 400;
    }
  
    .colHeader {
      font-size: 20px !important;
      font-weight: 600 !important;
    }

    .text-danger {
      color: var(--danger);
    }
}


