<ion-content [fullscreen]="true">
  <ion-grid class="contentPageWrapper cookieGrid">
    <ion-row>
      <section class="login offline-404 cookie-policy p-fixed d-flex text-center">
        <!-- Container-fluid starts -->
        <div class="container">
          <ion-row>
            <ion-col>
              <h1 class="cs-light"><i class="icofont icofont-license text-primary"></i></h1>
              <h1 class="cs-main"><strong>Cookie Policy</strong> </h1>
              <h2 class="cs-sub">Last updated: September 2021</h2>
              <!--  -->
              <p>
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy" target="_blank">
                  Privacy Policy
                </a>
                and
                <a href="https://policies.google.com/terms" target="_blank">
                  Terms of Service
                </a>
                apply.
              </p>
              <p>
                The website uses cookies. You can deactivate or block cookies either by changing the settings within our
                Privacy Preference Centre or within your Browser.
                <br><br>
                Please note that if you deactivate cookie groups from the Privacy Preference Centre and save your changes,
                then those groups will only be deactivated the next time you visit the site, or by refreshing the page.
                Additionally you can then remove the cookies from your machine using the methods described below.
              </p>
              <p>
                <strong>About Cookies</strong>
                Cookies are files, often including unique identifiers, that are sent by web servers to web browsers,
                and which may then be sent back to the server each time the browser requests a page from the server.
                <br><br>
                Cookies can be used by web servers to identity and track users as they navigate different pages on a
                website, and to identify users returning to a website.
                <br><br>
                Cookies may be either "persistent" cookies or "session" cookies. A persistent cookie consists of a
                text file sent by a web server to a web browser, which will be stored by the browser and will remain
                valid until its set expiry date (unless deleted by the user before the expiry date). A session cookie,
                on the other hand, will expire at the end of the user session, when the web browser is closed.
              </p>
              <p>
                <strong>Cookies on the website</strong>
                We use both Session cookies and Persistent/Personalization cookies on the website.
              </p>
              <br><br>

              <ion-row class="b-b-1 cs-heading">
                <ion-col>Provider</ion-col>
                <ion-col>Name</ion-col>
                <ion-col>Purpose</ion-col>
                <ion-col>Lifespan</ion-col>
              </ion-row>

              <ion-row class="b-b-1">
                <ion-col>{{_hostName}}</ion-col>
                <ion-col>CFTOKEN</ion-col>
                <ion-col>This cookie is used to determine which type of device the visitor is using, so the website can be properly formatted - This in formation is stored in the "CFID" cookie.</ion-col>
                <ion-col>End of Session</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>{{_hostName}}</ion-col>
                <ion-col>CFID</ion-col>
                <ion-col>This cookie is used in context with the "Cftoken" cookie. The cookie stores a specific ID for the visitor and the visitor's device and browser.</ion-col>
                <ion-col>End of Session</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>{{_hostName}}</ion-col>
                <ion-col>cookieconsent_status</ion-col>
                <ion-col>This cookie is used to store consent preferences.</ion-col>
                <ion-col>At least 1 session</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>sb_wiz.zpc</ion-col>
                <ion-col>This browser storage variable is used to store information about how the end user uses the site and any advertising that the end user may have seen before visiting the site.</ion-col>
                <ion-col>Persistent (Local Storage)</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>NID</ion-col>
                <ion-col>Used to display YouTube videos embedded on the website.</ion-col>
                <ion-col>6 months</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>sb_wiz.qc</ion-col>
                <ion-col>This browser storage variable is used to store information about how the end user uses the site and any advertising that the end user may have seen before visiting the site.</ion-col>
                <ion-col>Persistent (Local Storage)</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>OTZ</ion-col>
                <ion-col>Used by Google Analytics to provide an aggregate analysis of website visitors.</ion-col>
                <ion-col>1 day</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>_GRECAPTCHA</ion-col>
                <ion-col>Used by Google Analytics to provide spam protection.</ion-col>
                <ion-col>Persistent</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>rc::a</ion-col>
                <ion-col>This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.</ion-col>
                <ion-col>Persistent</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>rc::b</ion-col>
                <ion-col>This cookie is used to distinguish between humans and bots.</ion-col>
                <ion-col>Persistent</ion-col>
              </ion-row>
              <ion-row class="b-b-1">
                <ion-col>Google</ion-col>
                <ion-col>rc::c</ion-col>
                <ion-col>This cookie is used to distinguish between humans and bots.</ion-col>
                <ion-col>Persistent</ion-col>
              </ion-row>
              <br>
              <p>
                <strong>How we use cookies</strong>
                Cookies do not contain any information that personally identifies you, but personal information that
                we store about you may be linked, by us, to the information stored in and obtained from cookies. The
                cookies used on the website include those which are strictly necessary cookies for access and navigation,
                cookies that track usage (performance cookies), remember your choices (functionality cookies), and
                cookies that provide you with targeted content or advertising.
                <br><br>
                We may use the information we obtain from your use of our cookies for the following purposes:
                <br><br>
                <i class="d-block text-muted">to recognise your computer when you visit the website</i>
                <i class="d-block text-muted">to track you as you navigate the website, and to enable the use of any e-commerce facilities</i>
                <i class="d-block text-muted">to improve the website's usability</i>
                <i class="d-block text-muted">to analyse the use of the website</i>
                <i class="d-block text-muted">in the administration of the website</i>
                <i class="d-block text-muted">to personalise the website for you, including targeting advertisements which may be of particular interest to you</i>
                <br>
                For more information on managing advertising personalisation through your Google account please visit this page.
              </p>
              <p>
                <strong>Blocking Cookies</strong>
                You can block cookies by group using our Privacy Preference Centre. In addition to this most browsers
                allow you to refuse to accept cookies.
                For example:
                <br><br>
                <i class="d-block text-muted">
                  in <b>Google</b> Chrome you can adjust your cookie permissions by clicking "Options", "Under the hood",
                  Content Settings in the "Privacy" section. Click on the Cookies tab in the Content Settings
                </i>
                <i class="d-block text-muted">
                  in <b>Firefox</b> you can block all cookies by clicking "Tools", "Options", and un-checking
                  "Accept cookies from sites" in the "Privacy" box
                </i>
                <i class="d-block text-muted">
                  in <b>Safari</b> you can block cookies by clicking "Preferences", selecting the "Privacy" tab and "Block cookies"
                </i>
                <br>
                Blocking all cookies will, however, have a negative impact upon the usability of many websites. If you block cookies, you may
                not be able to use certain features on the website (log on, access content, use search functions).
              </p>
              <p>
                <strong>Deleting Cookies</strong>
                You can also delete cookies already stored on your computer:
                <br><br>
                <i class="d-block text-muted">
                  in <b>Google Chrome</b> you can adjust your cookie permissions by clicking "Options",
                  "Under the hood", Content Settings in the "Privacy" section. Click on the Cookies tab in the Content Settings
                </i>
                <i class="d-block text-muted">
                  in <b>Firefox</b>, you can delete cookies by, first ensuring that cookies are to be deleted when you
                  "clear private data" (this setting can be changed by clicking "Tools", "Options" and "Settings" in the "Private Data" box)
                  and then clicking "Clear private data" in the "Tools" menu
                </i>
                <i class="d-block text-muted">
                  in <b>Safari</b> you can delete cookies by clicking "Preferences", selecting the "Privacy" tab and
                  "Remove All Website Data"
                </i>
                <br>
                Obviously, doing this may have a negative impact on the usability of many websites.
              </p>
              <p>
                <strong>Contact Us</strong>
                If you have any questions about this Cookies Policy, please contact us.
              </p>
            </ion-col>
          </ion-row>
        </div>
      </section>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button class="btnRound" shape="round" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-footer>