.survey-wrapper {
  table {
    width: 100%;
  }

  .default-img {
    height: 100px;
    width: 100px;
    color: var(--lite-grey) !important;
  }

  .sub-title {
    font-size: 22px;
    font-weight: 600;
  }
  .survey-container {
    color: var(--primary);
    margin-bottom: 0;

    .rounded-card img {
      height: 70px !important;
      width: 70px !important;
      padding: 0 !important;
      object-fit: cover;
    }
    .input-group {
      margin: 0;
    }
    .card {
      margin-bottom: 0;
      color: var(--primary) !important;
      &.user-card {
        cursor: pointer;
        margin: 20px 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .card-block,
    .card-body {
      padding: 10px 5px;
    }
    .card-border-primary {
      border-top: 0;
      border-left: 4px solid var(--primary);
    }
    .color-avi {
      height: 100px !important;
      width: 100px !important;
      padding: 0 !important;
      font-size: 100px;
      margin: 0 auto;
      margin-top: 0 !important;
      margin-bottom: 10px !important;
      border-radius: 50%;
      .icofont {
        color: white;
      }
    }
    .color-avi-name {
      font-size: 26px;
      margin-bottom: 15px;
    }
    .m-b-0-impo {
      margin-bottom: 0px !important;
    }
    .card .card-header span {
      margin: 0;
    }
    .img-color-avi {
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }
    .card-footer {
      background: transparent !important;
    }
    input[type='radio'] {
      display: none;
      color: solid var(--icons);
    }
    .alert {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #ff5370;
      border: 1px solid #ff5370;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border-radius: 0.25rem;

      span {
        font-weight: bold;
        p {
          font-weight: bold;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      .card-block {
        padding: 20px 0;
      }
    }

    // Style Custom Inputs
    $input-dimension: 18px;
    span.circle,
    span.check {
      display: inline-block;
      cursor: pointer;
      transition: all 0.55s ease;
      left: 50%;
      top: 50%;
      height: $input-dimension;
      min-height: $input-dimension;
      width: $input-dimension;
      min-width: $input-dimension;
      margin: 0 5px 0 0;
      background: transparent;
      border: 2px solid var(--icons);
      color: solid var(--icons);
      vertical-align: middle;
    }
    span.circle {
      border-radius: 50%;
    }
    input[type='radio']:checked + span.circle,
    input[type='radio']:checked + span.circle + span.check {
      background: var(--icons);
      color: var(--icons);
      vertical-align: middle;
    }
    .checked {
      span.circle,
      span.check {
        background: var(--icons);
      }
    }
    table {
      table-layout: fixed;
    }
    thead {
      th,
      td {
        vertical-align: middle;
        white-space: normal;
        border-top: 0;
        border-bottom: 0;
      }
    }
    td {
      label {
        position: relative !important;
        min-height: 20px;
        width: 100%;
      }
      span.circle,
      span.check {
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: middle;
      }
      span.check {
        display: none;
      }
    }
    // Show & Hide Custom Inputs
    .radio {
      span.check {
        display: none;
        vertical-align: middle;
      }
    }
    .check {
      // confirm if correct class
      span.circle {
        display: none;
      }
    }
    .panel-heading {
      display: inline-block;
      width: 100%;
      margin: 20px auto;
      h3 {
        display: none;
        font-size: 22px;
        font-weight: 600;
      }
    }
    .panel-body {
      color: var(--icons);
      h5 {
        text-align: left;
        font-size: 18px;
        font-weight: 400 !important;
        margin-bottom: 10px;
        span,
        span p {
          font-size: 18px;
          color: var(--primary);
          font-weight: bold;
        }
      }
      tbody {
        font-size: 14px;
        line-height: 24px;
      }
      .progress {
        background: var(--bg-grey);
        border-radius: 20px;
        margin: 0 auto 50px;
        width: 90%;

        .progress-bar {
          white-space: nowrap;
          color: var(--primary-alt);
          background: var(--primary);
          text-align: center;
          padding: 10px;
          border-radius: 20px;
        }
      }
    }
    .panel-footer {
      text-align: center;
    }
    table {
      margin-bottom: 10px;
      table-layout: fixed;

      .table th,
      .table td {
        vertical-align: middle;
      }
      thead tr th {
        font-weight: bold;
      }
      thead th {
        border-top: 0;
        text-align: center;
      }
      thead th:first-child,
      thead td:first-child {
        text-align: left;
        width: 30%;
      }
      tbody th {
        text-align: left;
        line-height: 22px;
        @media only screen and (max-width: 992px) {
          max-width: 150px;
          text-align: center;
        }
      }
      tbody tr {
        background: transparent;
        color: var(--primary);
      }
      tbody tr td {
        position: middle;
        padding: 0 10px;
        font-weight: normal;
      }
      tbody tr td:not(:first-child) {
        text-align: left;
        vertical-align: middle;
        // width: 10%; // breaks the mobile view
        @media only screen and (max-width: 992px) {
          span:not(.circle):not(.check) {
            display: inline-block !important;
            font-size: 14px;
            max-width: 80%;
            white-space: normal;
          }
        }
      }

      tbody tr td:first-child {
        white-space: normal;
        color: var(--icons);
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;

        line-height: 15px;
        padding: 10px;
        min-width: 250px;

        p {
          font-size: 14px;
        }
        @media only screen and (max-width: 992px) {
          font-size: 12px;
        }
      }
    }

    &.esurvey {
      .panel-heading {
        display: none;
      }
      .panel-body {
        .form-inline {
          padding: 10px 0 5px;
          //display: flex;
          //justify-content: flex-start;
          .radio {
            margin-bottom: 0px;
            text-align: left;
            width: 33%;
            vertical-align: middle;
            display: inline-block;
            label {
              display: flex;
              justify-content: flex-start !important;
              color: var(--icons);
              font-weight: normal;
              word-break: normal;
            }
            @media only screen and (max-width: 992px) {
              width: 100%;
              margin-bottom: 15px;
              font-size: 14px;
              span {
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .table-coltwo {
      thead tr td {
        background: transparent;
      }
      thead tr th {
        background: transparent;
        padding: 2px;
      }
      tbody tr {
        border-top: 1px solid #e8ecef;
      }
      tbody tr:nth-child(even) {
        background: transparent;
      }
      tbody tr:nth-child(odd) {
        background: #e8ecef;
        border-top: 0;
      }
      tbody,
      th,
      th p {
        color: var(--icons);
        font-weight: 600;
        font-size: 16px;
      }
      .col-question {
        text-align: left;
        position: relative;
      }
      th,
      td:not(.col-question) {
        position: relative;
        vertical-align: middle;
        input[type='radio'] {
          float: right;
          width: 50%;
        }
      }
      @media only screen and (max-width: 992px) {
        thead {
          display: none;
        }
        tbody,
        th,
        td,
        tr {
          display: block;
          font-size: 20px;
        }
        .col-question {
          text-align: left;
          position: relative;
        }
        td:not(.col-question) {
          .circle,
          .check {
            right: 10px;
            left: unset;
            margin: unset;
          }
        }
        th,
        td:not(.col-question) {
          position: relative;
          input[type='radio'] {
            float: right;
          }
        }
      }
      tr.col-header {
        display: none;
        @media only screen and (max-width: 992px) {
          display: block;
          th {
            text-align: left;
            max-width: 100%;
          }
        }
      }
      span.col-header {
        display: none;
        @media only screen and (max-width: 992px) {
          display: inline-block;
          max-width: 85%;
          font-size: 12px;
        }
      }
    }

    .sv_qstn table tr td .sv_q_m_cell_label {
      display: none;
    }
    @media (max-width: 600px) {
      .sv_main
        .sv_container
        .panel-body.card-block
        .sv_row
        .sv_qstn
        table.table:not(.sv_q_matrix)
        td::before {
        content: none;
      }
      .sv_main .sv_container .panel-body.card-block .sv_row .sv_qstn {
        display: inline;
      }
      .sv_row {
        padding: 5px 10px;
      }
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }

  .btn.btn-primary {
    background: var(--primary);
    color: var(--primary-alt);
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-family: var(--ion-font-family, inherit);
  }
  .btn.btn-success {
    background: var(--success);
    color: var(--primary-alt);
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-family: var(--ion-font-family, inherit);
  }
}
