<section id="customLayout" class="ptPDFMain ptPDF customlayout nav-{{ _navStatus }}">
  <section id="prePrintContent">
    <section class="prePrintContent" *ngIf="_contentData">
      <!-- Header -->
      <ion-row>
        <ion-col sizeXs="6" sizeMd="8" class="ptPageHeader">
          <strong class="headerText fs-18">
            {{ _coverData['coverTitle'] }}
            <small class="d-block">
              {{ _contentData['sEmployeeFullName'] }}
            </small>
          </strong>
        </ion-col>
        <ion-col sizeXs="6" sizeMd="4" class="text-right">
          <ion-button type="button" class="btn btn-primary" (click)="printPDFReport()">
            <ion-icon name="print-outline"></ion-icon>
            Print Report
          </ion-button>
        </ion-col>
      </ion-row>

      <!--SECTION 1: PERSONAL DETAILS -->
      <ion-row class="row">
        <ion-col size="12" class="section-header">
          <strong>Section 1</strong>
          <small class="m-l-10">Personal Details</small>
        </ion-col>
      </ion-row>

      <ion-row class="sub-header">
        <ion-col size="12">
          <ion-col sizeSm="6" sizeXs="8" sizeMd="10">
            <strong>{{ _contentData['sEmployeeFullName'] }}</strong>
          </ion-col>
        </ion-col>
      </ion-row>

      <ion-row class="m-tb-10-20 a-center">
        <!-- row 1 -->
        <ion-col sizeXs="6" sizeMd="3"><strong class="d-block">Current Role</strong></ion-col>
        <ion-col sizeXs="6" sizeMd="3">
          <p>{{ _contentData["sJobTitleName"] }}</p>
        </ion-col>
        <ion-col sizeXs="6" sizeMd="3"><strong class="d-block">Time at {{ _contentData["sCompanyName"] }}</strong>
        </ion-col>
        <ion-col sizeXs="6" sizeMd="3">
          <p>{{ _contentData["sLengthOfService"] }}</p>
        </ion-col>
        <!-- row 2 -->
        <ng-container *ngIf="_contentData['sPreferredLanguage'] !== ''">
          <ion-col sizeXs="6" sizeMd="3"><strong class="d-block">Preferred Language</strong></ion-col>
          <ion-col sizeXs="6" sizeMd="3">
            <p class="paragraph" [innerHTML]="_contentData['sPreferredLanguage']"></p>
          </ion-col>
        </ng-container>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="section-header p-t-0">
          <small>Past Experience</small>
        </ion-col>
        <ion-col size="6" class="section-header p-t-0">
          <small>Other Interests</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <strong>Department</strong>
        </ion-col>
        <ion-col size="3">
          <strong>Months</strong>
        </ion-col>
        <ion-col size="3">
          <strong>Interest</strong>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let experience of _contentData['experience']; let iIndex = index">
        <ion-col size="3">
          <p> {{ experience["sDepartmentName"] }} </p>
        </ion-col>
        <ion-col size="3">
          <p class="p-l-20"> {{ experience["sMonths"] }} </p>
        </ion-col>
        <ion-col size="6" *ngIf="iIndex === 0">
          <p class="paragraph">{{ _contentData['sInterests'] }} </p>
        </ion-col>
      </ion-row>


      <!--SECTION 2: CAREER OBJECTIVES -->
      <ion-row class="row">
        <ion-col size="12" class="section-header">
          <strong>Section 2</strong>
          <small class="m-l-10">Career Objectives</small>
        </ion-col>
      </ion-row>

      <ion-row class="sub-header">
        <ion-col size="12">
          <ion-col sizeSm="6" sizeXs="8" sizeMd="10">
            <strong>Preferred Future Role</strong>
          </ion-col>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" class="section-header p-b-0 p-t-0">
          <small>Immediate (Next 6 months)</small>
        </ion-col>
        <ion-col size="6" class="section-header p-b-0 p-t-0">
          <small>Long Term (Next 5 years)</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <p>{{ _contentData["sImmediateTermRole"] }}</p>
        </ion-col>
        <ion-col size="6">
          <p>{{ _contentData["sLongTermRole"] }}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="section-header p-b-0">
          <small>Medium Term (6 months to 3 years)</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p>{{ _contentData["sShortTermRole"] }}</p>
        </ion-col>
      </ion-row>


      <!-- SECTION 3: MOBILITY -->
      <ion-row class="row">
        <ion-col size="12" class="section-header">
          <strong>Section 3</strong>
          <small class="m-l-10">Mobility</small>
        </ion-col>
      </ion-row>

      <ion-row class="sub-header">
        <ion-col size="12">
          <ion-col sizeSm="6" sizeXs="8" sizeMd="10">
            <strong>Mobility Preferences</strong>
          </ion-col>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="mobilityA['MobilityUID']">
        <ion-row>
          <ion-col size="6" class="section-header p-t-0">
            <small>Between {{mobilityA['sMobilityName']}}</small>
          </ion-col>
          <ion-col size="6" class="section-header p-t-0" *ngIf="mobilityB['MobilityUID']">
            <small>Between {{mobilityB['sMobilityName']}}</small>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3"><strong> Willing to relocate </strong></ion-col>
          <ion-col size="3">
            <p>
              {{mobilityA && mobilityA['sWillingToRelocate']}}
            </p>
          </ion-col>
          <ion-col size="3" *ngIf="mobilityB['MobilityUID']"><strong> Willing to relocate </strong></ion-col>
          <ion-col size="3" *ngIf="mobilityB['MobilityUID']">
            <p>
              {{mobilityB && mobilityB['sWillingToRelocate']}}
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3"><strong>Preferred {{mobilityA && mobilityA['sMobilityName']}}</strong></ion-col>
          <ion-col size="3" class="p-b-0">
            <p>
              {{mobilityA['sCategoryName']}}
            </p>
          </ion-col>
          <ion-col size="3" *ngIf="mobilityB['MobilityUID']"><strong>Preferred {{mobilityB['sMobilityName']}}</strong>
          </ion-col>
          <ion-col size="3" class="p-b-0" *ngIf="mobilityB['MobilityUID']">
            <p>
              {{mobilityB['sCategoryName']}}
            </p>
          </ion-col>
        </ion-row>
      </ng-container>

      <ion-row>
        <ion-col size="12" class="section-header p-t-0">
          <small>Between Departments</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><strong> Willing to transfer </strong></ion-col>
        <ion-col size="3">
          <p>
            {{_contentData['sWillingToRelocate']}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"><strong class="d-block"> Preferred Department </strong></ion-col>
        <ion-col size="3">
          <p>
            {{_contentData['sPreferredDepartment']}}
          </p>
        </ion-col>
      </ion-row>


    </section>
  </section>
</section>