<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpProtocol>
		<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<remove name="X-Content-Type-Options" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubdomains" />
				<add name="Public-Key-Pins" value="pin-sha256='X3pGTSOuJeEVw989IJ/cEtXUEmy52zs1TZQrU06KUKg='; pin-sha256='MHJYVThihUrJcxW6wcqyOISTXIsInsdj3xK8QrZbHec='; pin-sha256='isi41AizREkLvvft0IRW4u3XMFR2Yg7bvrF7padyCJg='; includeSubdomains; max-age=2592000" />
				<add name="Referrer-Policy" value="strict-origin" />
			</customHeaders>
		</httpProtocol>
        <rewrite>
		  <rules>
			<rule name="Redirect http to https" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
								<add input="{HTTPS}" pattern="^OFF$" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:1}"  appendQueryString="true" redirectType="Permanent"/>
				</rule>
			<rule name="AngularJS" stopProcessing="true">
			  <match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
							<add input="{REQUEST_URI}" pattern="^/$" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
			</rule>
				
		  </rules>
		</rewrite>
		<caching>
            <profiles>
                <add extension=".ts" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".css" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
                 <add extension=".scss" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
	
</configuration>
