.card-list-wrapper {

  .order-card {
    border-radius: 5px;
    box-shadow: none;
    z-index: 10;
    margin-bottom: 5px;

    h6 {
      display: inline;
      font-size: 12px;
      font-weight: 100;
      color: #FFFFFF;
    }
    h2 {
      display: inline;
      float: right;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      margin: 0;
    }
    
    &:hover {
      z-index: 100;
      box-shadow: 0 12px 25px -5px #2e323d, 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  .card-block {
    padding: 10px;
  }
}
